@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to Deeor</h1>
        <img src="https://ca.pandora.net/dw/image/v2/AAVX_PRD/on/demandware.static/-/Sites-pandora-master-catalog/default/dw88c6e0d2/productimages/singlepackshot/581469C01_RGB.jpg?sw=900&sh=900&sm=fit&sfrm=png&bgcolor=F5F5F5 " alt="Welcome Image" class="welcome-image" style="width:auto; height:auto;" />
        <p>Discover our exclusive collection of stylish and elegant bracelets.</p>
    </div>
    <script>
                /* wwwroot/css/styles.css */
        {
            font - family: Arial, sans - serif;
            background - color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .text - center {
            text - align: center;
            margin - top: 50px;
            padding: 20px;
        }

        .display - 4 {
            font - size: 2.5rem;
            margin - bottom: 20px;
        }

        p {
            font - size: 1.2rem;
            margin - bottom: 30px;
        }

        .welcome - image {
            max - width:  auto;
            height: auto;
            margin - top: 20px;
            border: 5px solid #343a40;
            border - radius: 10px;
        }

        a {
            color: #007bff;
            text - decoration: none;
        }

        a:hover {
            text - decoration: underline;
        }
    </script>
</body>
</html>
