@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Data Sharing: We may share your information with trusted third parties for shipping and payment processing purposes only.

    Security Measures: We employ industry-standard security measures to protect your personal data from unauthorized access or disclosure.

    User Rights: You have the right to access, correct, or delete your personal information upon request.
</p>
